@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Cookie&family=Mukta:wght@200&family=Tinos&display=swap");

* {
    box-sizing: border-box;
}

#root {
    margin: 3rem;
    padding: 3rem;
    gap: 40px;
    display: flex;
    flex-direction: column;
    font-family: mukta;
}

table > tr > td {
    width: 2rem;
}

table > tr > td:nth-of-type(1) {
    width: 6rem;
    word-wrap: anywhere;
}