#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    display: flex;
    gap: 40px
}


.todo-input-section {
    text-align: left;
    display: flex;
    flex-direction: column;
}